       body {
            background-color: #0E0B16;
        }

        .content {
            width: 50%;
            margin: 0 auto;
            background-color: #e7dfdd;
            border-radius: 30px;
            border: transparent;
            font-family: "Mitr", sans-serif;
            text-align: center;
            margin-top: 150px;
            padding-top: 5px;
            padding-bottom: 20px;
        }

        .content label {
            margin-right: 200px;
        }

        input[type="email"] {
            font-family: "Mitr", sans-serif;
            border: 1px solid rgb(199, 198, 198);
            border-radius: 10px;
            margin: 10px auto;
            padding: 3px 150px 6px 5px;
        }

        input[type="password"] {
            font-family: "Mitr", sans-serif;
            border: 1px solid rgb(199, 198, 198);
            border-radius: 10px;
            margin: 0 auto;
            padding: 3px 150px 6px 5px;
        }

        input[type="submit"] {
            border-collapse: collapse;
            border: transparent;
            border-radius: 15px;
            font-family: "Mitr", sans-serif;
            color: rgb(255, 255, 255);
            margin: 15px auto;
            padding: 5px 50px 5px 50px;
            transition: 0.5s;
        }

        input[type="submit"]:hover {
            color: rgb(255, 255, 255);
        }

        .btn {
            text-decoration: none;
            font-size: 13px;
            border-collapse: collapse;
            border: transparent;
            border-radius: 15px;
            font-family: "Mitr", sans-serif;
            color: rgb(255, 255, 255);
            margin: 15px;
            padding: 5px 50px 5px 50px;
            background-color: rgb(3, 19, 61);
            transition: 0.5s;
        }

        .btn:hover {
            text-decoration: none;
            color: black;
            background-color: rgb(140, 169, 248);
        }